<p>breweries</p>

<ul *ngIf="brews">
  <li *ngFor="let brew of brews">
  <p class="name">{{ brew.name }}</p>
  <p class="country">{{ brew.country }}</p>
  <a href="{{ brew.website_url }}" class="site">site</a>
</li>

</ul>
